#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Entertaining Chess
Name[vi]=Cờ vua giải trí
GenericName=Chess
GenericName[vi]=Cờ vua
Exec=entertaining-chess
Icon=entertaining-chess
Categories=Game;LogicGame;
